.venv/
.idea/
__pycache__
draughts/__pycache__
.gitattributes

*.swp
*.py[cod]
*~
.coverage
.coveralls.yml
nosetests.xml
.tox

dist/
build/
pydraughts.egg-info/
draughts/pydraughts.egg-info/
docs/_build/
