.venv/
.idea/
__pycache__
draughts/__pycache__
draughts/core/__pycache__
draughts/engines/__pycache__
draughts/engines/dxp_communication/__pycache__
draughts/engines/checkerboard_extra/__pycache__
.gitattributes

*.swp
*.py[cod]
*~
.coverage
.coveralls.yml
nosetests.xml
.tox

dist
build
pydraughts.egg-info
draughts/pydraughts.egg-info
docs/_build
